
.mask{margin-top: 13%;
  display: flex;  
  justify-content: center;
align-items: center;padding: 2%;
margin-left: 12%;
}
.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
  margin-left: 12%;
}
.imag{
    border:none ;
    border-radius: 50%;
    width:152px;
    height:152px;
    transition: 0.5s;
    
}
.imag:hover{
    border:none ;
    border-radius: 50%;
    width:152px;
    height:152px;
    transform: scale(1.5);
    box-shadow: rgba(0, 0,0, 0.74) 0px 4px 8px;
}

.para{
    color: grey;
    font-size: 12px;
}
.item{display: flex;
justify-content: center;
align-items: center;
margin-left: 12%;
}
.void{
    display: flex;
    background-color: moccasin;
    border-radius: 12px;
    margin: 9px 8px;
    padding: 2%;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
}
.react{
    color: palevioletred;
}